@charset "UTF-8";
/*
I like to put here my font face declarations. I also like to define 4 mixins:

ff-text 		: The default font to display regular text
ff-heading 		: The default font to display heading text
ff-decorative 	: The default font to display decorative text
ff-mono			: The default font to display code (monospaced)
*/
/*
@font-face {
  font-family: 'Coolvetica';
  src: url('../fonts/coolvetica_rg-webfont.eot');
  src: local('☺'), url('../fonts/coolvetica_rg-webfont.woff') format('woff'), url('../fonts/coolvetica_rg-webfont.ttf') format('truetype'), url('../fonts/coolvetica_rg-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}

@mixin ff-heading{
	font-family: "Coolvetica", "Verdana", "Lucida Grande", "Arial", "Gill Sans", "Helvetica", sans-serif;
}
*/
/*
Change this mixins to your preference
*/
/* Put all your helpers classes here */
/* line 2, ../src/partials/_helpers.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 3, ../src/partials/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 4, ../src/partials/_helpers.scss */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 5, ../src/partials/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 7, ../src/partials/_helpers.scss */
.group:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 8, ../src/partials/_helpers.scss */
.group:after {
  clear: both;
}

/* line 9, ../src/partials/_helpers.scss */
.group {
  zoom: 1;
}

/*
This partial is only used by compass' blueprint module. If you're not using it, you can safely delete it.
*/
/* Put all your mixins here */
/*
These styles redefine the way the elements look. It should be applied after the general reset.
*/
/* line 4, ../src/partials/_redefine.scss */
body {
  font-family: sans-serif;
  font-size: 13px;
  *font-size: small;
  line-height: 1.3em;
}

/* line 10, ../src/partials/_redefine.scss */
select, input, textarea, button {
  font-family: sans-serif;
  font-size: 99%;
}

/* line 14, ../src/partials/_redefine.scss */
pre, code, kbd, samp {
  font-family: monospace;
}

/* line 17, ../src/partials/_redefine.scss */
blockquote {
  font-family: cursive;
}

/* line 20, ../src/partials/_redefine.scss */
body, select, input, textarea {
  color: #444;
}

/* line 21, ../src/partials/_redefine.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  font-weight: bold;
  letter-spacing: 0.01em;
  margin: 0;
  padding: 0;
}

/* line 28, ../src/partials/_redefine.scss */
html {
  overflow-y: scroll;
}

/* line 30, ../src/partials/_redefine.scss */
a, a:hover, a:active {
  outline: none;
}

/* line 31, ../src/partials/_redefine.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 32, ../src/partials/_redefine.scss */
a:hover {
  color: #036;
}

/* line 34, ../src/partials/_redefine.scss */
ul, ol {
  margin-left: 1.8em;
}

/* line 35, ../src/partials/_redefine.scss */
ol {
  list-style-type: decimal;
}

/* line 37, ../src/partials/_redefine.scss */
nav ul, nav li {
  margin: 0;
}

/* line 38, ../src/partials/_redefine.scss */
small {
  font-size: 85%;
}

/* line 39, ../src/partials/_redefine.scss */
strong, th {
  font-weight: bold;
}

/* line 40, ../src/partials/_redefine.scss */
td, td img {
  vertical-align: top;
}

/* line 41, ../src/partials/_redefine.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 42, ../src/partials/_redefine.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 43, ../src/partials/_redefine.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 44, ../src/partials/_redefine.scss */
textarea {
  overflow: auto;
}

/* line 45, ../src/partials/_redefine.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 46, ../src/partials/_redefine.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 47, ../src/partials/_redefine.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 48, ../src/partials/_redefine.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 49, ../src/partials/_redefine.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 50, ../src/partials/_redefine.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 51, ../src/partials/_redefine.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 53, ../src/partials/_redefine.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 55, ../src/partials/_redefine.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 57, ../src/partials/_redefine.scss */
::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* line 58, ../src/partials/_redefine.scss */
::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* line 59, ../src/partials/_redefine.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* line 61, ../src/partials/_redefine.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 62, ../src/partials/_redefine.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 2, ../src/partials/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 6, ../src/partials/_typography.scss */
h1 {
  font-size: 60px;
  margin-bottom: 0.50em;
}

/* line 10, ../src/partials/_typography.scss */
h2 {
  font-size: 35px;
  margin-bottom: 1em;
}

/* line 15, ../src/partials/_typography.scss */
h3 {
  font-size: 24px;
  margin-bottom: 1.00em;
}

/* line 19, ../src/partials/_typography.scss */
h4 {
  font-size: 18px;
  margin-bottom: 1.25em;
}

/* line 23, ../src/partials/_typography.scss */
h5 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 28, ../src/partials/_typography.scss */
h6 {
  font-size: 14px;
  font-weight: normal;
}

/* line 32, ../src/partials/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 34, ../src/partials/_typography.scss */
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 39, ../src/partials/_typography.scss */
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 45, ../src/partials/_typography.scss */
a {
  text-decoration: none;
}

/* line 48, ../src/partials/_typography.scss */
blockquote {
  margin: 1.5em;
  font-style: italic;
}

/* line 53, ../src/partials/_typography.scss */
strong {
  font-weight: bold;
}

/* line 56, ../src/partials/_typography.scss */
em {
  font-style: italic;
}

/* line 59, ../src/partials/_typography.scss */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 63, ../src/partials/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 66, ../src/partials/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 69, ../src/partials/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 76, ../src/partials/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 83, ../src/partials/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 86, ../src/partials/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 90, ../src/partials/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 93, ../src/partials/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 96, ../src/partials/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 98, ../src/partials/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 102, ../src/partials/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 105, ../src/partials/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 109, ../src/partials/_typography.scss */
th {
  font-weight: bold;
}

/*
	Individual stylesheets for each developer.
	If you're using a version control system like github, or svn, this helps avoid mergin errors.
	You can add more developers in the /src/partials/ directory.
	If you're working solo, you can just get rid of the next two lines and the two _dev1.scss and _dev2.scss partials
*/
/*	Styles by Felix
*/
/* line 4, ../src/partials/_felix.scss */
#container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  /* line 40, ../src/style.scss */
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }

  /* line 41, ../src/style.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 42, ../src/style.scss */
  a:after {
    content: " (" attr(href) ")";
  }

  /* line 43, ../src/style.scss */
  abbr:after {
    content: " (" attr(title) ")";
  }

  /* line 44, ../src/style.scss */
  .ir a:after {
    content: "";
  }

  /* line 45, ../src/style.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 46, ../src/style.scss */
  thead {
    display: table-header-group;
  }

  /* line 47, ../src/style.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 49, ../src/style.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 50, ../src/style.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
