/*
I like to put here my font face declarations. I also like to define 4 mixins:

ff-text 		: The default font to display regular text
ff-heading 		: The default font to display heading text
ff-decorative 	: The default font to display decorative text
ff-mono			: The default font to display code (monospaced)
*/
/*
@font-face {
  font-family: 'Coolvetica';
  src: url('../fonts/coolvetica_rg-webfont.eot');
  src: local('☺'), url('../fonts/coolvetica_rg-webfont.woff') format('woff'), url('../fonts/coolvetica_rg-webfont.ttf') format('truetype'), url('../fonts/coolvetica_rg-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}

@mixin ff-heading{
	font-family: "Coolvetica", "Verdana", "Lucida Grande", "Arial", "Gill Sans", "Helvetica", sans-serif;
}
*/
/*
Change this mixins to your preference
*/
/* Put all your helpers classes here */
/* line 2, /Volumes/Data/Sites/twitter-tunnel/src/partials/_helpers.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 3, /Volumes/Data/Sites/twitter-tunnel/src/partials/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 4, /Volumes/Data/Sites/twitter-tunnel/src/partials/_helpers.scss */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 5, /Volumes/Data/Sites/twitter-tunnel/src/partials/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 7, /Volumes/Data/Sites/twitter-tunnel/src/partials/_helpers.scss */
.group:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 8, /Volumes/Data/Sites/twitter-tunnel/src/partials/_helpers.scss */
.group:after {
  clear: both;
}

/* line 9, /Volumes/Data/Sites/twitter-tunnel/src/partials/_helpers.scss */
.group {
  zoom: 1;
}

/*
This partial is only used by compass' blueprint module. If you're not using it, you can safely delete it.
*/
/* Put all your mixins here */
/*
These styles redefine the way the elements look. It should be applied after the general reset.
*/
/* line 4, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
body {
  font-family: sans-serif;
  font-size: 12px;
  *font-size: small;
  line-height: 1.5em;
}

/* line 11, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
select, input, textarea, button {
  font-family: sans-serif;
  font-size: 99%;
}

/* line 15, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
pre, code, kbd, samp {
  font-family: monospace;
}

/* line 18, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
blockquote {
  font-family: cursive;
}

/* line 21, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
body, select, input, textarea {
  color: #444;
}

/* line 23, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  font-weight: bold;
  letter-spacing: 0.01em;
  margin: 0;
  padding: 0;
}

/* line 30, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
html {
  overflow-y: scroll;
}

/* line 32, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
a, a:hover, a:active {
  outline: none;
}

/* line 33, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 34, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
a:hover {
  color: #036;
}

/* line 36, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
ul, ol {
  margin: 0;
  padding: 0;
}

/* line 37, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
ol {
  list-style-type: decimal;
}

/* line 39, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
nav ul, nav li {
  margin: 0;
}

/* line 40, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
small {
  font-size: 85%;
}

/* line 41, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
strong, th {
  font-weight: bold;
}

/* line 42, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
td, td img {
  vertical-align: top;
}

/* line 43, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 44, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 45, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 46, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
textarea {
  overflow: auto;
}

/* line 47, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 48, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 49, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 50, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 51, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 52, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 53, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 55, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 57, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 59, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* line 60, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* line 61, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* line 63, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 64, /Volumes/Data/Sites/twitter-tunnel/src/partials/_redefine.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 2, /Volumes/Data/Sites/twitter-tunnel/src/partials/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 7, /Volumes/Data/Sites/twitter-tunnel/src/partials/_typography.scss */
h1, h2, h3, h4, h5, h6, p {
  font-size: 1em;
  margin: 0;
  font-family: Helvetica Neue, Helvetica ,Arial,sans-serif;
  font-weight: normal;
}

/*
h1 {
	font-size: 60px;
	margin-bottom: 0.50em;
}
h2 {
	font-size: 35px;
	margin-bottom: 1em;
	/*font-weight: normal; */
}
h3 {
	font-size: 24px;
	margin-bottom: 1.00em;
}
h4 {
	font-size: 18px;
	margin-bottom: 1.25em;
}
h5 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 1.50em;
}
h6 {
	font-size: 14px;
	font-weight: normal;
}
p {
	margin: 0 0 1.5em;
	img.left {
		@include float-left;
		margin: 1.5em 1.5em 1.5em 0;
		padding: 0;
	}
	img.right {
		@include float-right;
		margin: 1.5em 0 1.5em 1.5em;
		padding: 0;
	}
}

*/
/* line 56, /Volumes/Data/Sites/twitter-tunnel/src/partials/_typography.scss */
a {
  text-decoration: none;
}

/* line 59, /Volumes/Data/Sites/twitter-tunnel/src/partials/_typography.scss */
blockquote {
  margin: 1.5em;
  font-style: italic;
}

/* line 64, /Volumes/Data/Sites/twitter-tunnel/src/partials/_typography.scss */
strong {
  font-weight: bold;
}

/* line 67, /Volumes/Data/Sites/twitter-tunnel/src/partials/_typography.scss */
em {
  font-style: italic;
}

/* line 70, /Volumes/Data/Sites/twitter-tunnel/src/partials/_typography.scss */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 74, /Volumes/Data/Sites/twitter-tunnel/src/partials/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 77, /Volumes/Data/Sites/twitter-tunnel/src/partials/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 80, /Volumes/Data/Sites/twitter-tunnel/src/partials/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 87, /Volumes/Data/Sites/twitter-tunnel/src/partials/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 94, /Volumes/Data/Sites/twitter-tunnel/src/partials/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 97, /Volumes/Data/Sites/twitter-tunnel/src/partials/_typography.scss */
ul, ol {
  margin: 0;
}

/* line 100, /Volumes/Data/Sites/twitter-tunnel/src/partials/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 103, /Volumes/Data/Sites/twitter-tunnel/src/partials/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 106, /Volumes/Data/Sites/twitter-tunnel/src/partials/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 108, /Volumes/Data/Sites/twitter-tunnel/src/partials/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 112, /Volumes/Data/Sites/twitter-tunnel/src/partials/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 115, /Volumes/Data/Sites/twitter-tunnel/src/partials/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 119, /Volumes/Data/Sites/twitter-tunnel/src/partials/_typography.scss */
th {
  font-weight: bold;
}

/* line 14, ../src/style.scss */
#container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/*
	Individual stylesheets for each developer.
	If you're using a version control system like github, or svn, this helps avoid mergin errors.
	You can add more developers in the /src/partials/ directory.
	If you're working solo, you can just get rid of the next two lines and the two _dev1.scss and _dev2.scss partials
*/
/*	Styles by Felix
*/
/* line 14, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
header {
  padding-top: 26px;
  padding-bottom: 8px;
  line-height: 1.5em;
  overflow: hidden;
  *zoom: 1;
}
/* line 21, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
header h1 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 151.667px;
  font-size: 18px;
  font-weight: bold;
}
/* line 147, /Users/chrischua/.gem/ruby/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html header h1 {
  overflow-x: hidden;
}
/* line 26, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
header h3 {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 475px;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
}
/* line 147, /Users/chrischua/.gem/ruby/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html header h3 {
  overflow-x: hidden;
}

/* line 37, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#main {
  padding-top: 18px;
  overflow: hidden;
  *zoom: 1;
}
/* line 41, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#main h4 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  outline-bottom: 1px solid #fff;
}
/* line 48, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#main h4 span {
  font-weight: normal;
}
/* line 51, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#main h4 span:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* line 62, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#left-container {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 151.667px;
  padding-right: 40px;
}
/* line 147, /Users/chrischua/.gem/ruby/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #left-container {
  overflow-x: hidden;
}
/* line 67, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#left-container #keyword-container ul {
  margin: 18px 0;
}
/* line 71, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#left-container #keyword-container li {
  list-style: none;
  position: relative;
}
/* line 75, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#left-container #keyword-container li span.delete-keyword {
  position: absolute;
  right: 1em;
}
/* line 79, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#left-container #keyword-container li span.delete-keyword:hover {
  text-decoration: underline;
}
/* line 85, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#left-container #keyword-container li.keywords {
  margin: 1px;
}
/* line 97, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#left-container #keyword-container li.keywords.color-0 {
  color: #aa4768;
}
/* line 71, /Volumes/Data/Sites/twitter-tunnel/src/partials/_mixins.scss */
#left-container #keyword-container li.keywords.color-0.hovered {
  border: 1px solid #aa4768;
  margin: 0px;
  color: black;
  background: #eee;
}
/* line 78, /Volumes/Data/Sites/twitter-tunnel/src/partials/_mixins.scss */
#left-container #keyword-container li.keywords.color-0.selected {
  color: white;
  background: #aa4768;
  cursor: pointer;
}
/* line 101, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#left-container #keyword-container li.keywords.color-1 {
  color: #e44241;
}
/* line 71, /Volumes/Data/Sites/twitter-tunnel/src/partials/_mixins.scss */
#left-container #keyword-container li.keywords.color-1.hovered {
  border: 1px solid #e44241;
  margin: 0px;
  color: black;
  background: #eee;
}
/* line 78, /Volumes/Data/Sites/twitter-tunnel/src/partials/_mixins.scss */
#left-container #keyword-container li.keywords.color-1.selected {
  color: white;
  background: #e44241;
  cursor: pointer;
}
/* line 105, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#left-container #keyword-container li.keywords.color-2 {
  color: #d9bf5d;
}
/* line 71, /Volumes/Data/Sites/twitter-tunnel/src/partials/_mixins.scss */
#left-container #keyword-container li.keywords.color-2.hovered {
  border: 1px solid #d9bf5d;
  margin: 0px;
  color: black;
  background: #eee;
}
/* line 78, /Volumes/Data/Sites/twitter-tunnel/src/partials/_mixins.scss */
#left-container #keyword-container li.keywords.color-2.selected {
  color: white;
  background: #d9bf5d;
  cursor: pointer;
}
/* line 109, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#left-container #keyword-container li.keywords.color-3 {
  color: #d98493;
}
/* line 71, /Volumes/Data/Sites/twitter-tunnel/src/partials/_mixins.scss */
#left-container #keyword-container li.keywords.color-3.hovered {
  border: 1px solid #d98493;
  margin: 0px;
  color: black;
  background: #eee;
}
/* line 78, /Volumes/Data/Sites/twitter-tunnel/src/partials/_mixins.scss */
#left-container #keyword-container li.keywords.color-3.selected {
  color: white;
  background: #d98493;
  cursor: pointer;
}
/* line 113, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#left-container #keyword-container li.keywords.color-4 {
  color: #65a85b;
}
/* line 71, /Volumes/Data/Sites/twitter-tunnel/src/partials/_mixins.scss */
#left-container #keyword-container li.keywords.color-4.hovered {
  border: 1px solid #65a85b;
  margin: 0px;
  color: black;
  background: #eee;
}
/* line 78, /Volumes/Data/Sites/twitter-tunnel/src/partials/_mixins.scss */
#left-container #keyword-container li.keywords.color-4.selected {
  color: white;
  background: #65a85b;
  cursor: pointer;
}
/* line 117, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#left-container #keyword-container li.keywords.color-5 {
  color: #3b5379;
}
/* line 71, /Volumes/Data/Sites/twitter-tunnel/src/partials/_mixins.scss */
#left-container #keyword-container li.keywords.color-5.hovered {
  border: 1px solid #3b5379;
  margin: 0px;
  color: black;
  background: #eee;
}
/* line 78, /Volumes/Data/Sites/twitter-tunnel/src/partials/_mixins.scss */
#left-container #keyword-container li.keywords.color-5.selected {
  color: white;
  background: #3b5379;
  cursor: pointer;
}
/* line 121, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#left-container #keyword-container li.keywords.color-6 {
  color: #e98e4f;
}
/* line 71, /Volumes/Data/Sites/twitter-tunnel/src/partials/_mixins.scss */
#left-container #keyword-container li.keywords.color-6.hovered {
  border: 1px solid #e98e4f;
  margin: 0px;
  color: black;
  background: #eee;
}
/* line 78, /Volumes/Data/Sites/twitter-tunnel/src/partials/_mixins.scss */
#left-container #keyword-container li.keywords.color-6.selected {
  color: white;
  background: #e98e4f;
  cursor: pointer;
}
/* line 129, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#left-container #keyword-container li.keywords.disabled {
  text-decoration: line-through;
  color: #ddd;
}
/* line 133, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#left-container #keyword-container li.keywords.disabled:hover {
  background: #bbb;
}
/* line 139, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#left-container #keyword-container #add-keyword {
  margin: 18px 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-decoration: underline;
}
/* line 144, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#left-container #keyword-container #add-keyword:hover {
  color: white;
  background: #333;
  cursor: pointer;
}
/* line 151, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#left-container #keyword-container #add-keyword-container {
  display: none;
  margin: 18px 0;
}
/* line 155, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#left-container #keyword-container #add-keyword-container input {
  min-height: 1.5em;
  border: 1px solid #bbb;
  width: 100%;
  background-color: #fff;
}
/* line 162, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#left-container #keyword-container #add-keyword-container span {
  min-height: 1.5em;
  padding: 0 5px;
}

/* line 174, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#center-container.normal {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 475px;
  padding-right: 40px;
}
/* line 147, /Users/chrischua/.gem/ruby/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #center-container.normal {
  overflow-x: hidden;
}
/* line 179, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#center-container.collapsed-left {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 677.083px;
  padding-right: 40px;
}
/* line 147, /Users/chrischua/.gem/ruby/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #center-container.collapsed-left {
  overflow-x: hidden;
}
/* line 184, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#center-container.collapsed-right {
  display: inline;
  float: left;
  margin-right: 0;
  width: 757.917px;
  padding-right: 0px;
}
/* line 147, /Users/chrischua/.gem/ruby/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #center-container.collapsed-right {
  overflow-x: hidden;
}
/* line 189, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#center-container #overview-container {
  position: relative;
  margin-top: 18px;
}
/* line 193, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#center-container #overview-container #overview-controller {
  position: absolute;
  right: 0px;
  top: -5px;
}
/* line 198, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#center-container #overview-container #overview-controller p {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: #eee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#cccccc));
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  padding: 0 5px;
  margin: 0 1px;
  float: left;
  font-size: 10px;
}
/* line 44, /Volumes/Data/Sites/twitter-tunnel/src/partials/_mixins.scss */
#center-container #overview-container #overview-controller p:hover {
  background: #ddd;
  background: -moz-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#bbbbbb));
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
}
/* line 54, /Volumes/Data/Sites/twitter-tunnel/src/partials/_mixins.scss */
#center-container #overview-container #overview-controller p:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}
/* line 62, /Volumes/Data/Sites/twitter-tunnel/src/partials/_mixins.scss */
#center-container #overview-container #overview-controller p.disabled, #center-container #overview-container #overview-controller p.disabled:active {
  background: #eee;
  color: #999;
}
/* line 207, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#center-container #overview-container #overview {
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: 18px 0;
  height: 180px;
}
/* line 214, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#center-container #overview-container #overview #overview-master-container {
  position: absolute;
  top: 0;
  height: 80px;
  width: 100%;
}
/* line 221, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#center-container #overview-container #overview #overview-detail-container {
  position: absolute;
  top: 80px;
  height: 80px;
  width: 100%;
}
/* line 231, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#center-container #tunnel-container {
  position: relative;
  margin-bottom: 18px;
}
/* line 235, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#center-container #tunnel-container #tunnel-controller {
  position: absolute;
  right: 0px;
  top: -5px;
}
/* line 241, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#center-container #tunnel-container #tunnel-controller p {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: #eee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#cccccc));
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  padding: 0 5px;
  margin: 0 1px;
  float: left;
  font-size: 10px;
}
/* line 44, /Volumes/Data/Sites/twitter-tunnel/src/partials/_mixins.scss */
#center-container #tunnel-container #tunnel-controller p:hover {
  background: #ddd;
  background: -moz-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#bbbbbb));
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
}
/* line 54, /Volumes/Data/Sites/twitter-tunnel/src/partials/_mixins.scss */
#center-container #tunnel-container #tunnel-controller p:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}
/* line 62, /Volumes/Data/Sites/twitter-tunnel/src/partials/_mixins.scss */
#center-container #tunnel-container #tunnel-controller p.disabled, #center-container #tunnel-container #tunnel-controller p.disabled:active {
  background: #eee;
  color: #999;
}
/* line 250, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#center-container #tunnel-container #infovis {
  width: 100%;
  height: 540px;
}

/* line 259, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#right-container {
  display: inline;
  float: left;
  margin-right: 0;
  width: 232.5px;
}
/* line 147, /Users/chrischua/.gem/ruby/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #right-container {
  overflow-x: hidden;
}
/* line 263, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#right-container #details-container ol {
  margin: 18px 0;
  list-style: none;
  overflow-y: scroll;
  height: 738px;
}
/* line 269, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#right-container #details-container ol li {
  margin: 9px 0;
  padding: 9px 18px;
}
/* line 272, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#right-container #details-container ol li img {
  float: left;
}
/* line 276, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#right-container #details-container ol li p {
  margin-left: 60px;
  word-wrap: break-word;
}
/* line 279, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#right-container #details-container ol li p span.username {
  padding-right: 3px;
  font-weight: bold;
}
/* line 284, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
#right-container #details-container ol li:hover {
  background: #eee;
}

/* line 293, /Volumes/Data/Sites/twitter-tunnel/src/partials/_felix.scss */
footer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 960px;
  border-top: 1px solid #aaa;
  padding: 18px 0;
}
/* line 147, /Users/chrischua/.gem/ruby/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer {
  overflow-x: hidden;
}

@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
@media print {
  /* line 40, ../src/style.scss */
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }

  /* line 41, ../src/style.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 42, ../src/style.scss */
  a:after {
    content: " (" attr(href) ")";
  }

  /* line 43, ../src/style.scss */
  abbr:after {
    content: " (" attr(title) ")";
  }

  /* line 44, ../src/style.scss */
  .ir a:after {
    content: "";
  }

  /* line 45, ../src/style.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 46, ../src/style.scss */
  thead {
    display: table-header-group;
  }

  /* line 47, ../src/style.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 49, ../src/style.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 50, ../src/style.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
