@charset "UTF-8";
/*
I like to put here my font face declarations. I also like to define 4 mixins:

ff-text 		: The default font to display regular text
ff-heading 		: The default font to display heading text
ff-decorative 	: The default font to display decorative text
ff-mono			: The default font to display code (monospaced)
*/
/*
@font-face {
  font-family: 'Coolvetica';
  src: url('../fonts/coolvetica_rg-webfont.eot');
  src: local('☺'), url('../fonts/coolvetica_rg-webfont.woff') format('woff'), url('../fonts/coolvetica_rg-webfont.ttf') format('truetype'), url('../fonts/coolvetica_rg-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}

@mixin ff-heading{
	font-family: "Coolvetica", "Verdana", "Lucida Grande", "Arial", "Gill Sans", "Helvetica", sans-serif;
}
*/
/*
Change this mixins to your preference
*/
/* Put all your helpers classes here */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.invisible {
  visibility: hidden;
}

.group:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

/*
This partial is only used by compass' blueprint module. If you're not using it, you can safely delete it.
*/
/* Put all your mixins here */
/*
These styles redefine the way the elements look. It should be applied after the general reset.
*/
body {
  font-family: sans-serif;
  font-size: 12px;
  *font-size: small;
  line-height: 1.5em;
}

select, input, textarea, button {
  font-family: sans-serif;
  font-size: 99%;
}

pre, code, kbd, samp {
  font-family: monospace;
}

blockquote {
  font-family: cursive;
}

body, select, input, textarea {
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  font-weight: bold;
  letter-spacing: 0.01em;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

a, a:hover, a:active {
  outline: none;
}

a, a:active, a:visited {
  color: #607890;
}

a:hover {
  color: #036;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

textarea {
  overflow: auto;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

button {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 1em;
  margin: 0;
  font-family: Helvetica Neue, Helvetica ,Arial,sans-serif;
  font-weight: normal;
}

/*
h1 {
	font-size: 60px;
	margin-bottom: 0.50em;
}
h2 {
	font-size: 35px;
	margin-bottom: 1em;
	//font-weight: normal;
}
h3 {
	font-size: 24px;
	margin-bottom: 1.00em;
}
h4 {
	font-size: 18px;
	margin-bottom: 1.25em;
}
h5 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 1.50em;
}
h6 {
	font-size: 14px;
	font-weight: normal;
}
p {
	margin: 0 0 1.5em;
	img.left {
		@include float-left;
		margin: 1.5em 1.5em 1.5em 0;
		padding: 0;
	}
	img.right {
		@include float-right;
		margin: 1.5em 0 1.5em 1.5em;
		padding: 0;
	}
}

*/
a {
  text-decoration: none;
}

blockquote {
  margin: 1.5em;
  font-style: italic;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

dfn {
  font-style: italic;
  font-weight: bold;
}

sup, sub {
  line-height: 0;
}

abbr, acronym {
  border-bottom: 1px dotted #666666;
}

address {
  margin: 0 0 1.5em;
  font-style: italic;
}

pre {
  margin: 1.5em 0;
  white-space: pre;
}

li ul, li ol {
  margin: 0;
}

ul, ol {
  margin: 0;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  font-weight: bold;
}

dd {
  margin-left: 1.5em;
}

table {
  margin-bottom: 1.4em;
  width: 100%;
}

th {
  font-weight: bold;
}

#container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/*
	Individual stylesheets for each developer.
	If you're using a version control system like github, or svn, this helps avoid mergin errors.
	You can add more developers in the /src/partials/ directory.
	If you're working solo, you can just get rid of the next two lines and the two _dev1.scss and _dev2.scss partials
*/
/*	Styles by Felix
*/
header {
  padding-top: 26px;
  padding-bottom: 8px;
  line-height: 1.5em;
  overflow: hidden;
  *zoom: 1;
}
header h1 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 151.667px;
  font-size: 18px;
  font-weight: bold;
}
* html header h1 {
  overflow-x: hidden;
}
header h3 {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 475px;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
}
* html header h3 {
  overflow-x: hidden;
}

#main {
  padding-top: 18px;
  overflow: hidden;
  *zoom: 1;
}
#main h4 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  outline-bottom: 1px solid #fff;
}
#main h4 span {
  font-weight: normal;
}
#main h4 span:hover {
  text-decoration: underline;
  cursor: pointer;
}

#left-container {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 151.667px;
  padding-right: 40px;
}
* html #left-container {
  overflow-x: hidden;
}
#left-container #keyword-container ul {
  margin: 18px 0;
}
#left-container #keyword-container li {
  list-style: none;
  position: relative;
}
#left-container #keyword-container li span.delete-keyword {
  position: absolute;
  right: 1em;
}
#left-container #keyword-container li span.delete-keyword:hover {
  text-decoration: underline;
}
#left-container #keyword-container li.keywords {
  border: 1px solid white;
}
#left-container #keyword-container li.keywords.selected {
  color: white;
  background: #999;
}
#left-container #keyword-container li.keywords.hovered {
  color: black;
  background: #eee;
  cursor: pointer;
}
#left-container #keyword-container li.keywords.color-0.selected {
  background: #aa4768;
}
#left-container #keyword-container li.keywords.color-0.hovered {
  border: 1px solid #aa4768;
}
#left-container #keyword-container li.keywords.color-1.selected {
  background: #e44241;
}
#left-container #keyword-container li.keywords.color-1.hovered {
  border: 1px solid #e44241;
}
#left-container #keyword-container li.keywords.color-2.selected {
  background: #d9bf5d;
}
#left-container #keyword-container li.keywords.color-2.hovered {
  border: 1px solid #d9bf5d;
}
#left-container #keyword-container li.keywords.color-3.selected {
  background: #d98493;
}
#left-container #keyword-container li.keywords.color-3.hovered {
  border: 1px solid #d98493;
}
#left-container #keyword-container li.keywords.color-4.selected {
  background: #65a85b;
}
#left-container #keyword-container li.keywords.color-4.hovered {
  border: 1px solid #65a85b;
}
#left-container #keyword-container li.keywords.color-5.selected {
  background: #3b5379;
}
#left-container #keyword-container li.keywords.color-5.hovered {
  border: 1px solid #3b5379;
}
#left-container #keyword-container li.keywords.color-6.selected {
  background: #e98e4f;
}
#left-container #keyword-container li.keywords.color-6.hovered {
  border: 1px solid #e98e4f;
}
#left-container #keyword-container li.keywords.disabled {
  text-decoration: line-through;
  color: #ddd;
}
#left-container #keyword-container li.keywords.disabled:hover {
  background: #bbb;
}
#left-container #keyword-container #add-keyword {
  margin: 18px 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-decoration: underline;
}
#left-container #keyword-container #add-keyword:hover {
  color: white;
  background: #333;
  cursor: pointer;
}
#left-container #keyword-container #add-keyword-container {
  display: none;
  margin: 18px 0;
}
#left-container #keyword-container #add-keyword-container input {
  min-height: 1.5em;
  border: 1px solid #bbb;
  width: 100%;
  background-color: #fff;
}
#left-container #keyword-container #add-keyword-container span {
  min-height: 1.5em;
  padding: 0 5px;
}

#center-container.normal {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 475px;
  padding-right: 40px;
}
* html #center-container.normal {
  overflow-x: hidden;
}
#center-container.collapsed-left {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 677.083px;
  padding-right: 40px;
}
* html #center-container.collapsed-left {
  overflow-x: hidden;
}
#center-container.collapsed-right {
  display: inline;
  float: left;
  margin-right: 0;
  width: 757.917px;
  padding-right: 0px;
}
* html #center-container.collapsed-right {
  overflow-x: hidden;
}
#center-container #overview-container {
  position: relative;
  margin-top: 18px;
}
#center-container #overview-container #overview-controller {
  position: absolute;
  right: 0px;
  top: -5px;
}
#center-container #overview-container #overview-controller p {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: #eee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#cccccc));
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  padding: 0 5px;
  margin: 0 1px;
  float: left;
  font-size: 10px;
}
#center-container #overview-container #overview-controller p:hover {
  background: #ddd;
  background: -moz-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#bbbbbb));
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
}
#center-container #overview-container #overview-controller p:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}
#center-container #overview-container #overview-controller p.disabled, #center-container #overview-container #overview-controller p.disabled:active {
  background: #eee;
  color: #999;
}
#center-container #overview-container #overview {
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: 18px 0;
  height: 180px;
}
#center-container #overview-container #overview #overview-master-container {
  position: absolute;
  top: 0;
  height: 80px;
  width: 100%;
}
#center-container #overview-container #overview #overview-detail-container {
  display: none;
  position: absolute;
  top: 80px;
  height: 80px;
  width: 100%;
}
#center-container #tunnel-container {
  position: relative;
  margin-bottom: 18px;
}
#center-container #tunnel-container #tunnel-time-label {
  font-size: 10px;
  position: absolute;
  left: 55px;
  top: 0px;
}
#center-container #tunnel-container #tunnel-ring-interval-container {
  font-size: 10px;
  position: absolute;
  left: 55px;
  top: 20px;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
#center-container #tunnel-container #tunnel-controller {
  position: absolute;
  right: 0px;
  top: -5px;
}
#center-container #tunnel-container #tunnel-controller p {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: #eee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#cccccc));
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  padding: 0 5px;
  margin: 0 1px;
  float: left;
  font-size: 10px;
}
#center-container #tunnel-container #tunnel-controller p:hover {
  background: #ddd;
  background: -moz-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#bbbbbb));
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
}
#center-container #tunnel-container #tunnel-controller p:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}
#center-container #tunnel-container #tunnel-controller p.disabled, #center-container #tunnel-container #tunnel-controller p.disabled:active {
  background: #eee;
  color: #999;
}
#center-container #tunnel-container #infovis {
  width: 100%;
  height: 540px;
}

#right-container {
  display: inline;
  float: left;
  margin-right: 0;
  width: 232.5px;
}
* html #right-container {
  overflow-x: hidden;
}
#right-container #details-container ol {
  margin: 18px 0;
  list-style: none;
  overflow-y: scroll;
  height: 738px;
  position: relative;
}
#right-container #details-container ol li {
  margin: 9px 0;
  padding: 9px 18px;
  border: 1px solid white;
}
#right-container #details-container ol li img {
  float: left;
  height: 48px;
  width: 48px;
}
#right-container #details-container ol li p {
  margin-left: 60px;
  word-wrap: break-word;
}
#right-container #details-container ol li p span.username {
  padding-right: 3px;
  font-weight: bold;
}
#right-container #details-container ol li.selected {
  color: white;
  background: #999;
}
#right-container #details-container ol li.hovered {
  color: black;
  background: #eee;
  cursor: pointer;
}
#right-container #details-container ol li.color-0.selected {
  background: #aa4768;
}
#right-container #details-container ol li.color-0.hovered {
  border: 1px solid #aa4768;
}
#right-container #details-container ol li.color-1.selected {
  background: #e44241;
}
#right-container #details-container ol li.color-1.hovered {
  border: 1px solid #e44241;
}
#right-container #details-container ol li.color-2.selected {
  background: #d9bf5d;
}
#right-container #details-container ol li.color-2.hovered {
  border: 1px solid #d9bf5d;
}
#right-container #details-container ol li.color-3.selected {
  background: #d98493;
}
#right-container #details-container ol li.color-3.hovered {
  border: 1px solid #d98493;
}
#right-container #details-container ol li.color-4.selected {
  background: #65a85b;
}
#right-container #details-container ol li.color-4.hovered {
  border: 1px solid #65a85b;
}
#right-container #details-container ol li.color-5.selected {
  background: #3b5379;
}
#right-container #details-container ol li.color-5.hovered {
  border: 1px solid #3b5379;
}
#right-container #details-container ol li.color-6.selected {
  background: #e98e4f;
}
#right-container #details-container ol li.color-6.hovered {
  border: 1px solid #e98e4f;
}

footer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 960px;
  border-top: 1px solid #aaa;
  padding: 18px 0;
}
* html footer {
  overflow-x: hidden;
}

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  a:after {
    content: " (" attr(href) ")";
  }

  abbr:after {
    content: " (" attr(title) ")";
  }

  .ir a:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
