/*	Styles by Felix
*/

$left-width: 4;
$center-width: 12;
$right-width: 6;

$center-width-collapsed-left: 17;
$center-width-collapsed-right: 19;

body{
}

header{
	
	padding-top: 1.5*$v - 1;
	padding-bottom: 0.5*$v - 1;
	
	line-height: 1.5em;
	
	h1{
		@include column($left-width);
		font-size: 18px;
		font-weight: bold;
	}
	h3{
		@include prepend(1);
		@include column($center-width, true);
		font-size: 14px;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
	}
	
	@include clearfix;
	
}

#main{
	
	padding-top: 1*$v;
	
	h4{
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		border-bottom: 1px solid #ddd;
		outline-bottom: 1px solid #fff;
		
		span{
			font-weight: normal;
			
			&:hover{
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
	
	@include clearfix;
	
}

#left-container{
	@include column($left-width);
	@include append(1);
	
	#keyword-container{
		ul{
			margin: 1*$v 0;
		}
		
		li{
			list-style: none;
			position:relative;
			
			span.delete-keyword{
				position: absolute;
				right: 1em;
				
				&:hover{
					text-decoration: underline;
				}
			}
		}
		
		li.keywords{
			@include select-hover-styles;
		}
		
		li.keywords.disabled{
			text-decoration: line-through;
			color: #ddd;
			
			&:hover{
				background: #bbb;
			}
			
		}
		
		#add-keyword{
			margin: 1*$v 0;
			@include user-select-none;
			text-decoration: underline;
			
			&:hover{
				color: white;
				background: #333;
				cursor: pointer;
			}
		}
		
		#add-keyword-container{
			display:none;
			margin: 1*$v 0;
			
			input{
				min-height: 1.5em;
				border: 1px solid #bbb;
				width: 100%;
				background-color: #fff;
			}
			
			span{
				min-height: 1.5em;
				padding: 0 5px;
			}
		}
		
	}	
	
	#legend-container{
		
		div {
			vertical-align: top;
		}
		
	}
	
}



#center-container{
	&.normal{
		@include column($center-width);
		@include append(1);
	}
	
	&.collapsed-left{
		@include column($center-width-collapsed-left);
		@include append(1);
	}

	&.collapsed-right{
		@include column($center-width-collapsed-right, true);
		@include append(0);
	}
	
	#overview-container{
		position: relative;
		margin-top: 1*$v;
		
		#overview-controller{
			position: absolute;
			right: 0px;
			top: -5px;
			
			p{
				@include clean-gray;
				padding: 0 5px;
				margin: 0 1px;
				float: left;
				font-size: 10px;
			}
		}
		
		#overview{
			
			position: relative;
			@include user-select-none;
			padding: 1*$v 0;
			height: 10*$v;
			
			#overview-master-container{
				position:absolute;
				top: 0;
				height: 80px;
				width: 100%;
			}
		
			#overview-detail-container{
				display: none;
				position:absolute;
				top: 80px;
				height: 80px;
				width: 100%;
			}
			
		}
	}
	
	#tunnel-container{
		position: relative;
		margin-bottom: 1*$v;
		
		#tunnel-time-label{
			font-size: 10px;
			position: absolute;
			left: 55px;
			top: 0px;
		}
		
		#tunnel-ring-interval-container{
			font-size: 10px;
			position: absolute;
			left: 55px;
			top: 20px;
			z-index: 999;
			background: rgba(0,0,0,0.5);
			color: white;
			padding: 0 5px;
			@include border-radius(3px);
		}
		
		#tunnel-controller{
			position: absolute;
			right: 0px;
			top: -5px;
			
			
			p{
				@include clean-gray;
				padding: 0 5px;
				margin: 0 1px;
				float: left;
				font-size: 10px;
			}
		}
		
		#infovis{
		    width:100%;
		    height:30*$v;
		}
	}
	
}


#right-container{
	@include column($right-width, true);
	
	#details-container{
		ol{
			margin: 1*$v 0;
			list-style: none;
			overflow-y: scroll;
			height: 41*$v; // height of the details-container minus the margin
			position: relative; // used for scroll to to set this as the nearest offset parent
			
			li{
				margin: 0.5*$v 0;
				padding: 0.5*$v 1*$v;
				min-height: 3*$v;
				img{
					float: left;
					height: 48px;
					width: 48px;
				}
				
				p{
					margin-left: 60px;
					word-wrap:break-word;
					span.username{
						padding-right: 3px;
						font-weight: bold;
					}
				}

				@include select-hover-styles;
			}
		}
	}
}


footer{
	
	@include column(24,true);
	
	border-top: 1px solid #aaa;
	padding: 1*$v 0;
	
}

