/* Put all your mixins here */

@mixin user-select-none{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


@mixin simple-button{
	@include user-select-none;
	
	@include border-radius(3px);
	border: 1px solid #bbb;
	
	&:hover{
		background: #333;
		border: 1px solid #111;
		color: white;
		cursor: pointer;
	}
}

@mixin clean-gray {
	
	@include user-select-none;
	
	background: #eee;
	background: -moz-linear-gradient(top, #eee 0%, #ccc 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
	border: 1px solid #ccc;
	border-bottom: 1px solid #bbb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 1px 0 #eee;

	&:hover {
		background: #ddd;
		background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#bbb));
		border: 1px solid #bbb;
		border-bottom: 1px solid #999;
		cursor: pointer;
		text-shadow: 0 1px 0 #ddd;
	}

	&:active {
		border: 1px solid #aaa;
		border-bottom: 1px solid #888;
		-moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
		-webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
		box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
	}
	
	&.disabled, &.disabled:active{
		background: #eee;
		color: #999;
	}
	
}

$goodRed: #e44241;
$goodYellow: #d9bf5d;
$goodPink: #d98493;
$goodGreen: #65a85b;
$goodBlue: #3b5379;
$goodOrange: #e98e4f;
$goodPurple: #aa4768;

@mixin keyword-style($color){
	&.selected {
		background: $color;
	}
	&.hovered {
		border: 1px solid $color;
	}
}

@mixin select-hover-styles {
	border: 1px solid white;

	&.selected {
		color: white;
		background: #999;
	}
	&.hovered {
		color: black;
		background: #eee;
		cursor: pointer;
	}

	&.color-0 {
		@include keyword-style($goodPurple);
	}

	&.color-1 {
		@include keyword-style($goodRed);
	}

	&.color-2 {
		@include keyword-style($goodYellow);
	}

	&.color-3 {
		@include keyword-style($goodPink);
	}

	&.color-4 {
		@include keyword-style($goodGreen);
	}

	&.color-5 {
		@include keyword-style($goodBlue);
	}

	&.color-6 {
		@include keyword-style($goodOrange);
	}
}

